@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Noto Sans KR', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #8ACFA7;
    width: 100%;
    height: 100%;
    /*@supports (-webkit-touch-callout: none) {*/
    /*    height: -webkit-fill-available;*/
    /*}*/
}

body {
    margin: 0;
    /*min-width: 320px;*/
    /*min-height: 100vh;*/
    width: 100%;
    height: 100%;
    /* iOS only */
    /*@supports (-webkit-touch-callout: none) {*/
    /*    min-height: -webkit-fill-available;*/
    /*}*/
}

textarea:focus, input:focus {
    outline: none;
}

input::placeholder {
    color: #ccc;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder {
    color: #ccc;
}


#app {
    width: 100%;
    height: 100%;
    /*@supports (-webkit-touch-callout: none) {*/
    /*    min-height: -webkit-fill-available;*/
    /*}*/
}

img, canvas, span, div {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
